body{
   height: 100vh;
   display: flex;
    align-items: center;
   justify-content: center;
}
.main{
    display : flex;
}
.visual{

    background-image: url(https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
    background-size: 420px;
    height : 700px;
    width: 420px;
    background-repeat: no-repeat;
}
#screen{
    position: relative;
    top : 25px;
    left: 143px;
    width: 225px;
}
.box{
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    background-color: white;
    border: 1px solid rgb(219,219,219);
    height: 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
#icon{
    width: 150px;
    align-self:center ;
    margin-top: 40px;
    margin-bottom: 20px;
}
input{
    align-self: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgb(219,219,219);
    background-color: rgb(250,250,250);
    width:200px;
    border-radius: 2px;
    color: rgb(38, 38, 38);
}
button{
    width: 220px;
    background-color: rgb(0, 149, 246);
    align-self: center;
    opacity: 0.7;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 21px;
    color: white;
    font-size: 14px;
}
#or{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
  height:1px;
  background: rgb(219, 219, 219);
  width: 90px;
  margin: 15px;
}
p{
    color: rgb(142, 142, 142);
    font-size: 0.8125em;
    font-weight: 600;
}
#fb{
    
    margin-top: 7px;
}
#fb-link{
    cursor: pointer;
    text-decoration: none;
    color: #385185;
    font-size: 14px;
    font-weight: 600;
}
#password{
   
    margin-top: 7px;
}
a{
    text-decoration: none;
}
#pass{
   display: inline;
   cursor: pointer;
   
    color: rgb(0, 55, 107);
    font-size:12px;
}
.sign-up{
    justify-content: center;
    margin-top: 15px;
    height: 55px;
    font-size:12px;
    text-align: center;
}
.sign-up a{
    color:rgb(0, 149, 246);
    font-weight: 600;
}
.txt{
    margin-top: 15px;
    font-size:14px;
    text-align: center;
}
#apps{
    margin-top: 15px;
    padding-left: 28px;
}
.app{
    width:120px;
}