.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
   width: 100vw;
}
.cont{
    width: 250px;
    margin: 30px;

}

.info{

}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/